/* .checkout {
  
} */

.container {
  background-color: white;
}

.checkout-top {
  display: flex;
  padding: 18px;
}

.checkout-left p,
.checkout-left span {
  font-size: 14px;
  line-height: 20px;
}

.checkout-left {
  flex: 1;
  padding-right: 20px;
}

.checkout-left .body {
  padding: 0 20px 5px 20px;
}

.checkout-left .container {
  padding: 20px 0 15px 0;
  margin-bottom: 20px;
}

.checkout-left .saved-items-heading {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.checkout-left .saved-items .item-nav {
  margin: 4px 0;
}

.checkout-left .saved-items .item-container {
  display: flex;
  margin-left: 20px;
}

.checkout-left .saved-items .item-container > div {
  padding: 5px 10px;
  margin-right: 10px;
}

.checkout-left .saved-items .item-container .buy-it-again-container {
  border-bottom: 2px solid #e47911;
}

.checkout-left .saved-items .item-container > div span {
  font-size: 14px;
}

.checkout-left .saved-items .item-container > div .buy-it-again-span {
  font-weight: 700;
}

.checkout-left .about .text {
  font-size: 12px;
  line-height: 16px;
}

.checkout-bottom > .container {
  margin: 18px 0px;
  padding: 0px 29px;
}

.checkout-bottom > .container .top-header {
  display: flex;
  justify-content: space-between;
}
