.checkout-right .recommendations-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 262px;
  margin-bottom: 24px;
  display: none;
}

@media screen and (min-width: 1280px) {
  .checkout-right .recommendations-container {
    display: block;
  }
}

.checkout-right .recommendations-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 262px;
  margin-bottom: 24px;
}

.checkout-right .recommendations-heading {
  margin-bottom: 12px;
  line-height: 20px;
}
