.home {
  display: flex;
  justify-content: center;
}

.home-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.home-carousel {
  max-height: 170px;
  /* max-height: 230px; */
  /* height: 230px; */
  transition: all 240ms ease-out 0s;
}

@media screen and (min-width: 1280px) {
  .home-carousel {
    max-height: 230px;
  }
}

.home-carousel-inner {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.home-carousel .carousel-slider {
  border-radius: 5px;
  height: 100%;
  width: 80px;
  position: absolute;
  z-index: 10;
  top: 0;
  max-height: 250px;
  cursor: pointer;
}

.home-carousel .carousel-slider:active,
.home-carousel .carousel-slider:focus {
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
}

.home-carousel .carousel-slider-left {
  padding-left: 3px;
  left: 0;
}

.home-carousel .carousel-slider-right {
  padding-right: 3px;
  right: 0;
}

.home-carousel .slider-arrow-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-image {
  display: flex;
  position: relative;
  top: 0;
  height: 600px;
  /* width: 7200px;
  transform: translateX(-2880px) translateZ(0px); */
}

.home-carousel .slider-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
}

.home-carousel .slider-arrow.left {
  margin-left: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.home-carousel .slider-arrow.right {
  margin-right: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.home-image-container {
  text-align: center;
  visibility: hidden;
  position: absolute;
  transition: all 0.3s;
}

.home-image-container.translate-left {
  transform: translateX(-100%);
}

.home-image-container.translate-right {
  transform: translateX(100%);
}

.home-image-container.active {
  visibility: visible;
  transform: translateX(0) !important;
}

.home-image {
  max-width: 100%;
  z-index: -1;
  display: inline-block;
  /* background: linear-gradient(-180deg,rgba(234,237,237,0),#eaeded); */
}

.mobile-items-carousel {
  display: flex;
  margin: 5px 8px 5px 8px;
  z-index: 100;
  overflow-x: scroll;
}

.mobile-items-carousel .carousel-item-container {
  border-radius: 4px;
  margin-right: 8px;
  background-color: #fff;
}

.mobile-items-carousel .carousel-item {
  /* padding: 5px; */
  font-weight: 300;
  width: 135px;
}

.mobile-items-carousel .carousel-item-content {
  display: flex;
  flex-direction: column;
  height: 170px;
  position: relative;
}

.mobile-items-carousel .carousel-item-wrapper {
  position: absolute;
  border-style: solid;
  height: 162px;
  width: 127px;
  border-width: 4px 4px 0 4px;
  -webkit-border-image: -webkit-gradient(
      linear,
      0 100%,
      0 0,
      from(rgba(0, 0, 0, 0)),
      to(white)
    )
    1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), white)
    1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), white) 1
    100%;
  -o-border-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), white) 1 100%;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0), white) 1 100%;
}

.mobile-items-carousel .carousel-item-name-container {
  flex: 1;
  display: flex;
}

.mobile-items-carousel .carousel-item-name {
  line-height: 1.3em;
  /* font-size: 1.6rem; */
  /* max-height: 1.6em; */
  font-size: 14px;
  /* padding: 5px 5px 0 5px; */
  /* margin-top: 5px; */
  white-space: wrap;
  align-self: center;
  margin: 0 10px;
}

.mobile-items-carousel .carousel-item-image-container {
  /* margin-top: 26px; */
  display: flex;
  height: 125px;
  justify-content: center;
  /* margin: auto; */
  box-sizing: border-box;
}

.mobile-items-carousel .carousel-item-image {
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
}

.home-content {
  padding: 20px 0;
}

@media screen and (min-width: 1280px) {
  .home-content {
    padding: 20px 10px;
  }
}

.home-row {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.home-row div {
  z-index: 1;
}

.home-row .sign-in-experience {
  width: 25%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
}

.home-row .sign-in-experience .sign-in-container {
  background-color: white;
  box-sizing: border-box;
  display: block;
  height: 150px;
  margin-bottom: 20px;
}

.home-row .sign-in-experience .sign-in-container .inner-container {
  padding-left: 20px;
  padding-right: 20px;
}

.home-row .sign-in-experience .sign-in-container h2 {
  background-color: transparent;
  font-size: 21px;
  font-weight: 700;
}

.home-row .sign-in-experience .sign-in-container .link-container {
  display: grid;
}

.home-row .sign-in-experience .sign-in-container .link-container button {
  line-height: 24px;
  font-size: 13px;
  background-color: #ffd814;
  border-color: #fcd200;
  border-radius: 8px;
  border-style: initial;
  padding: 0 auto;
}

.home-row .sign-in-experience .advert-container {
  display: block;
}
