.large-row-item {
  padding: 0 10px;
  width: 25%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
}

.large-row-item > .container {
  background-color: white;
  padding: 20px 0;
  width: 100%;
}

.large-row-item .large-category-title {
  font-size: 21px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 10px;
}

.large-row-item .image-container {
  padding: 0 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  min-height: 304px;
}

.large-row-item .image-container img {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-row-item .large-category-text {
  font-size: 13px;
  padding: 0 20px;
}
