.product-box-group {
  padding: 0 10px;
  width: 25%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
}

.product-box-group > .container {
  background-color: white;
  padding: 20px 0;
  width: 100%;
}

.product-box-group .title {
  font-size: 21px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 10px;
}

.product-box-group .items-container {
  padding: 0 20px;
  margin-bottom: 20px;
  width: border-box;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  min-height: 304px;
}

.product-box-group .link-text {
  font-size: 13px;
  padding: 0 20px;
}
