.product-box-group {
  padding: 0 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .product-box-group {
    width: 25%;
  }
}

@media screen and (max-width: 1280px) {
  .product-box-group:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
  }

  .product-box-group .items-container {
    flex: 1 1 auto;
  }

  .product-box-group .item-image-container:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
  }
}

.product-box-group > .container {
  background-color: white;
  padding: 20px 0;
  width: 100%;
}

.product-box-group .title {
  font-size: 21px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 10px;
}

.product-box-group .items-container {
  padding: 0 20px;
  /* padding-bottom: 56px; */
  width: border-box;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  min-height: 304px;
}

.product-box-group .link-text {
  font-size: 13px;
  padding: 0 20px;
}

.product-box-group .link-text:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c7511f;
}

.product-box-group-item {
  width: 50%;
  max-width: 50%;
  /* max-height: 152px; */
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

/* .product-box-group-item.left {
  margin: 0 2px 2px 0;
}

.product-box-group-item.right {
  margin: 0 0 2px 2px;
} */

.product-box-group-item .item-image-container {
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .product-box-group-item .item-image-container {
    height: 116px;
  }
}

.product-box-group-item .item-image {
  max-width: 100%;
  /* object-fit: cover;
  box-sizing: border-box; */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 1280px) {
  .product-box-group-item .item-image {
    max-height: 100%;
  }

  .image-container {
    height: 304px;
  }
}

/* @media screen and (max-width: 1280px) {
  .top-deal-container .image-container:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
} */

.product-box-group-item .item-name-container {
  line-height: 36px;
  white-space: nowarp;
  overflow: hidden;
  text-overflow: ellipsis;
  /* flex: 1; */
  max-height: 36px;
}

.product-box-group-item .item-name {
  font-size: 12px;
  vertical-align: middle;
  white-space: nowarp;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0f1111 !important;
}

.image-container {
  padding: 0 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .image-container img {
    height: 100%;
  }
}

.top-deal-container {
  margin-bottom: 8px;
}

.top-deal-container .image-container {
  height: 230px;
  margin-bottom: 4px;
}

.top-deal-container .top-deal-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.top-deal-container .top-deal-content > div {
  margin-bottom: 4px;
  display: flex;
}

.top-deal-container .top-deal-content .top-deal-discount {
  align-items: center;
  font-size: 13px;
}

.top-deal-container .top-deal-content .top-deal-discount span {
  display: flex;
}

.top-deal-container .top-deal-content .discount {
  background-color: #cc0c39;
  color: #ffffff;
  border-radius: 2px;
  font-weight: 400;
  line-height: 12px;
  margin-right: 6px;
  padding: 4px 6px;
  position: relative;
}

.top-deal-container .top-deal-content .top-deal {
  background-color: #ffffff;
  color: #cc0c39;
  flex: 1;
  font-weight: 700;
  line-height: 12px;
  position: relative;
}

.top-deal-container .top-deal-content .top-deal-mini span {
  color: #0f1111 !important;
  line-height: 1.3em !important;
  max-height: 1.3em;
  font-size: 13px;
}

.product-box-group div.container.large-container {
  padding-bottom: 15px;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.product-box-group div.container.large-container .items-container {
  display: flex;
  flex: 1;
  margin-bottom: 0;
}

.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item {
  /* flex: 1; */
  width: 50%;
  height: 50%;
}

.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item
  a {
  display: flex;
  flex-direction: column;
}
.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item
  a {
  display: flex;
  flex-direction: column;
}

.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item.left {
  padding: 0 3px 3px 0;
  display: flex;
}

.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item.right {
  padding: 0 0 3px 3px;
  display: flex;
}

.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item
  .item-image-container {
  min-height: 85px;
  height: unset;
  flex: 1;
}

.product-box-group
  div.container.large-container
  .items-container
  .product-box-group-item
  .item-image-container
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-box-group div.items-container.alternate {
  display: flex;
  flex-direction: column;
}

.product-box-group div.items-container.alternate .top-layer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-box-group div.items-container.alternate .top-layer .image-container {
  flex-grow: 1;
  height: 170px;
  margin-bottom: 4px;
  padding: 0;
}

.product-box-group div.items-container.alternate .top-layer .image-link {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.product-box-group div.items-container.alternate .top-layer .item-image {
  height: 100%;
}

.product-box-group div.items-container.alternate .bottom-layer {
  margin-top: 12px;
  display: flex;
}

.product-box-group
  div.items-container.alternate
  .bottom-layer
  .product-box-group-item {
  width: 32.2%;
  margin-left: 1.7%;
}

.product-box-group
  div.items-container.alternate
  .bottom-layer
  .product-box-group-item.leftmost {
  margin-left: 0;
}

.product-box-group
  div.items-container.alternate
  .bottom-layer
  .product-box-group-item
  .item-image-container {
  margin-bottom: 4px;
  height: 75px;
}

.product-box-group
  div.items-container.alternate
  .bottom-layer
  .product-box-group-item
  .item-image-container
  img {
  height: 100%;
}

.product-box-group
  div.items-container.alternate
  .bottom-layer
  .product-box-group-item
  .item-name-container {
  line-height: 1.3em;
  max-height: 1.3em;
  text-align: left;
  display: flex;
}

.product-box-group
  div.items-container.alternate
  .bottom-layer
  .product-box-group-item
  .item-name-container
  span,
.product-box-group div.items-container.alternate .top-layer .item-name {
  font-size: 15px;
  color: #0f1111;
}
