.side-menu .side-menu-content .side-menu-lists li .side-menu-item-title {
  padding: 15px 20px;
}

@media screen and (min-width: 1280px) {
  .side-menu .side-menu-content .side-menu-lists li .side-menu-item-title {
    padding: 13px 20px 13px 36px;
  }
}

.side-menu .side-menu-content .side-menu-lists li .side-menu-item-title h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
